h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body            
      h5 #[strong Cod. 230101239-03]
      p.mb-0 Cumplir con los aspectos técnicos del proceso de certificación y registro de discapacidad, a partir del procedimiento de valoración clínica multidisciplinaria y sus instrumentos fundamentados en la Clasificación Internacional del Funcionamiento, de la Discapacidad y de la Salud CIF.
            
               




